<div class="main_content">
  <div class="sign_up">
    <div>
      評価が完了しました
    </div>
    <div>
      お疲れ様でした
    </div>
    <div>
      <%= link_to "トップページへ戻る", root_path, class: :form__btn %>
    </div>
  </div>
</div>