ユーザー詳細ページ
<div>
  <%= @user.nickname %>
</div>
<div>
  <%# 評価機能実装時に実装 %>
  評価：
  良
  普
  悪
  <%# 評価機能実装時に実装 %>
</div>
<div>
  <%# ペナルティポイント機能実装時に実装 %>
  ペナルティポイント：
  <%# ペナルティポイント機能実装時に実装 %>
</div>
<% if @user == current_user %>
  <div>
    募集管理
  </div>
  <div>
    <%= link_to applies_path do %>
      応募管理
    <% end %>
  </div>
  <div>
    合意した募集
  </div>
<% end %>
