<h1>
  ペナルティポイントについて
</h1>
<div>
  合意後のキャンセルには、キャンセルを行うタイミングに応じてペナルティポイントが付与されます。
</div>
<div>
  ペナルティポイントが合計10ポイント以上になった場合30日
  間のアカウント停止となります
</div>
<h2>
  〜72時間前
</h2>
<div>
  開催日時72時間前までのキャンセルでは、ペナルティポイントの付与はございません
</div>
<h2>
  〜48時間前
</h2>
<div>
  開催日時48時間前までのキャンセルにはペナルティポイントが+2されます
</div>
<h2>
  〜24時間前
</h2>
<div>
  開催日時24時間前までのキャンセルにはペナルティポイントが+5されます
</div>
<h2>
  〜開催時間前
</h2>
<div>
  開催日時まで残り24時間を切っているキャンセルにはペナルティポイントが+8されます
</div>
<h2>
  無断欠席時
</h2>
<div>
  無断欠席時はペナルティポイントが+10（アカウント停止）となります
</div>
<%= link_to "戻る", :back %>