<div class="main_content">
  <div class="sign_up">
    <div>
      キャンセルが完了しました
    </div>
    <div>
      <%= "付与されたペナルティポイントは#{@penalty_point_log.increase_decrease_value}点です" %>
    </div>
    <div>
      <%= link_to "トップページへ戻る", root_path, class: :form__btn %>
    </div>
  </div>
</div>