/* 共通 */
a {
  text-decoration: none;
}

/* ヘッダー */

.header {
  background-color: #f1f8fe;
  margin-bottom: 48px;
  padding: 20px 0;

}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 200px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}

.nav__logout:hover{
  opacity: 0.5;
}

/* ヘッダー スマホ表示 */
@media (max-width: 768px) {
  .inner{
    width: 100%;
  }

  .nav__left{
    width: 100px;
  }

  .logo_size{
    font-size: 10px;
  }

  .nav__logout{
    display: inline-block;
    padding: 0.4em 1.6em;
    font-size: 10px;
    color: #87CEFA;
    text-decoration: none;
    user-select: none;
  }

  .nav__btn{
    display: inline-block;
    padding: 0.4em 1.6em;
    font-size: 10px;
    color: #87CEFA;
    text-decoration: none;
    user-select: none;
    border: 1px #87CEFA solid;
    border-radius: 3px;
    transition: 0.4s ease;
  }
}

.nav__btn_hamburger{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 10px;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  font-weight: bold;
  transition: 0.4s ease;
}

.nav__btn_hamburger{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 10px;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}

/* スマホ表示時、ヘッダーメニュー消す */
@media (max-width: 768px) {
  .nav__right {
    display: none;
  }
}

/* PC表示時、ハンバーガーメニュー消す */
@media (min-width: 768px) {
  .hamburger-demo-menubox{
    display: none;
  }
}

/* ハンバーガーメニュー */
@media (max-width: 768px) {
  /* inputを非表示 */
  .input-hidden{
    display: none;
  }

  /* label */
  .hamburger-demo-switch{
    cursor: pointer;
    position: absolute;
    right: 3%;
    top: 0; /* ハンバーガーアイコンの位置（上から） */
    z-index: 9999;
    width: 4em; /* アイコン（クリック可能領域）の幅 */
    height: 4em; /* アイコン（クリック可能領域の）高さ */
  }
  /* メニュー展開時にハンバーガーアイコンを固定 */
  #hamburger-demo1:checked ~ .hamburger-demo-switch{
    position: fixed;
  }
  /* ハンバーガーアイコン */
  .hamburger-switch-line1, .hamburger-switch-line1-before, .hamburger-switch-line1-after{
    width: 25px;
    height: 3px;
    background: #333; /* ハンバーガーアイコンの色 */
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .3s;
    content: "";
  }
  .hamburger-switch-line1{
      transform: translate(-50%, -50%);
  }
  .hamburger-switch-line1-before{
    transform: translate(-50%, -300%);
  }
  .hamburger-switch-line1-after{
    transform: translate(-50%, 200%);
  }
  /* ハンバーガーアイコン･アニメーション */
  #hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1{
    width: 0;
  }
  #hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1-before{
    transform: rotate(45deg) translate(-40%, 325%);
  }
  #hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1-after{
    transform: rotate(-45deg) translate(-40%, -325%);
  }
  /* メニューエリア */
  .hamburger-demo-menuwrap{
    position: fixed;
    height: 100%;
    background: #fafafa; /* メニューエリアの背景色 */
    padding: 5em 3% 2em;
    z-index: 9998;
    transition: .3s;
    overflow-y: scroll; /* メニュー内容が多い場合に縦スクロールする */
    top: 0;
    left: 100%;
    width: 70%;
  }
  /* メニューリスト */
  .hamburger-demo-menulist{
    margin-right: 3%;
    padding-left: 5% !important; /* !important不要な場合もあり */
    list-style: none;
  }
  .hamburger-demo-menulist li a{
    text-decoration: none;
     /* メニューリストの文字色 */
    display: block;
    padding: .5em 0;
  }
  /* メニューエリア･アニメーション */
    /* 右から */
  #hamburger-demo1:checked ~ .hamburger-demo-menuwrap{
    left: 30%;
  }
    /* コンテンツカバー */
  #hamburger-demo1:checked ~ .hamburger-demo-cover{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9997;
    background: rgba(3, 3, 3, 0.5);
    display: block;
  }
}

/* 新規登録 */
.error_message{
  color: lightcoral;
}

/* ログイン */
.alert{
  color: lightcoral;
}

/* トップページ */
.recruitment_area{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 20px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: transparent;
  color: black;
}

.title a {
  color: black;
}

.title a:hover{
  text-decoration: underline;
}

.user_name{
  font-size: 15px;
}

.user_name a {
  color: rgb(44, 180, 225);
}

.user_name a:hover{
  text-decoration: underline;
}

.recruitment_text{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 10px;
  vertical-align: baseline;
  background: transparent;
  color: #888;
}

.recruitment_list{
  width: 30%;
  border-bottom: solid 1px #DDD;
}

@media (max-width: 768px){
  .recruitment_list{
    width: 80%;
    border-bottom: solid 1px #DDD;
  }
}

/* サインアップページ */
.main_content{
  width: 100%;
  display: flex;
  justify-content: center;
}

.sign_up{
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #DDD;
  box-shadow: 4px 4px 0 rgb(0 0 0 / 10%);
  padding: 10px;
}

.actions{
  display: flex;
  justify-content: center;
}

.form__btn{
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  cursor: pointer;
  margin: 20px 0px;
}


.input_form{
  width: 316px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: #EEE;
}

@media (max-width: 768px) {
  .input_form{
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: #EEE;
  }
}

/* 新規募集ページ */
.recruitment{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #DDD;
  box-shadow: 4px 4px 0 rgb(0 0 0 / 10%);
  padding: 10px;
}

@media (max-width: 768px){
  .recruitment{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #DDD;
    box-shadow: 4px 4px 0 rgb(0 0 0 / 10%);
    padding: 10px;
  }
}

.note{
  font-size: 10px;
}

.recruitment_text_area{
  width: 400px;
  height: 300px;
  background: #EEE;
}

@media (max-width: 768px){
  .recruitment_text_area{
    width: 200px;
    height: 180px;
  }
}

.recruitment_input_form{
  width: 316px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: #EEE;
}

@media (max-width: 768px){
  .recruitment_input_form{
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: #EEE;
    width: 200px;
  }
}

#recruitment_category_category_name{
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: #EEE;
  border-style: none;
}

.event_day_input_form{
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: #EEE;
}

.event_day_input_form_time{
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: #EEE;
}

@media (max-width: 768px) {
  .event_day_input_form_time{
    width: 100px;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
    background: #EEE;
  }
}

.event_day_input_form_date{
  width: 120px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: #EEE;
}

table textarea{
  border-style: none;
}

.recruitment table tr{
  height: 70px;
}

.recruitment table tr th{
  width: 200px;
}

.recruitment_post{
  display: flex;
  justify-content: center;
}




/* ペナルティポイントについて */
.penalty{
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #DDD;
  box-shadow: 4px 4px 0 rgb(0 0 0 / 10%);
  padding: 10px;
}

/* 評価ページ */
#evaluation_post{
  display: flex;
  justify-content: center;
}

#absence_without_notice_btn{
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: lightcoral;
  border: 1px lightcoral solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  cursor: pointer;
  margin: 20px 0px; 
}

.evaluation_content{
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.evaluation_area{
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #DDD;
  box-shadow: 4px 4px 0 rgb(0 0 0 / 10%);
  padding: 10px;
  margin-bottom: 20px;
}

@media (max-width: 768px){
  .evaluation_area{
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #DDD;
    box-shadow: 4px 4px 0 rgb(0 0 0 / 10%);
    padding: 10px;
    margin-bottom: 20px;
  }
}



/* 応募メッセージ */
.form_field{
  width: 360px;
  height: 160px;
}

@media (max-width: 768px){
  .form_field{
    width: 317px;
    height: 160px;
  }
}

/* 合意ページ */
.content{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.recruitment_list_agreement{
  width: 30%;
  border-top: 1px solid #DDD;
  border-bottom: solid 1px #DDD;
}

@media (max-width: 768px){
  .recruitment_list_agreement{
    width: 80%;
  }
}

.message_field{
  padding-top: 30px;
}

@media (max-width: 768px){
  .message_field{
    padding: 30px;
  }
}

.message{
  width: 360px;
  border: 1px solid #DDD;
  margin: 10px;
}

.user_name{
  font-weight: bold;
}

.agreement_btn_parents{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.agreement_btn{
  margin: 10px;
}

/* 募集管理ページ */

.apply_message{
  width: 360px;
  border: 1px solid #DDD;
  margin: 10px;
}

@media (max-width: 768px){
  .apply_message{
    width: 250px;
    border: 1px solid #DDD;
    margin: 10px;
  }
}

.applier{
  font-weight: bold;
  color: black;
}

@media (max-width: 768px){
  .applier{
    font-weight: bold;
    color: black;
    font-size: 15px;
  }
}

.message_text{
  color: black;
}

@media (max-width: 768px){
  .message_text{
    color: black;
    font-size: 15px;
  }
}

/* 応募詳細ページ */

.apply_show{
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.apply_show_content{
  width: 100vw;
}

th{
  text-align: left;
  height: 40px;
  width: 100px;
}

@media (max-width: 768px){
  th{
    text-align: left;
    height: 40px;
    width: 100px;
    font-size: 12px;
  }
}

table td{
  text-align: left;
  height: 40px;
}

table{
  width: 600px;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 24px;
}

@media (max-width: 768px){
  table{
    width: 300px;
  }
}

table tr{
  border-bottom: 1px solid #DDD;
}

/* ユーザー詳細 */

.apply_show_form_btn_area{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.apply_show_form_btn{
  margin-bottom: 10px;
}

.user_menu_area{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #DDD;
}

.user_menu{
  padding: 10px;
  border-bottom: 1px solid #DDD;
}

.user_menu:hover{
  text-decoration: underline;
}

.user_menu_last{
  padding: 10px;
}

.user_menu_last:hover{
  text-decoration: underline;
}

.menu_font{
  color: black;
}

.user_show_name{
  font-weight: bold;
}

/* 募集詳細ページ */
.apply_show_user{
  color: #87CEFA;
}

.apply_show_user:hover{
  text-decoration: underline;
}

/* 合意後キャンセルページ */
.cancel_area{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.cancel{
  color: lightcoral;
  font-weight: bold;
}